@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center mt-5">
    <h2 class="mb-4 text-primary fw-bold text-center">
        👩‍🍳 Bem-vindo à Cantina da Tia Ná 🍽️
    </h2>

    <img src="~/images/cantina-welcome.jpg" alt="Boas-vindas à cantina" class="img-fluid rounded shadow" style="max-width: 800px;" />
</div>
